<%= form_for (@micropost) do |f| %>
	


	<div class="large-8 columns">
		<%= render 'shared/error_messages', :object => f.object %>
		<%= f.text_area :content %>
		<%= f.submit "Post", :class => 'small button secondary expand'  %>
	</div>

	<div class="large-4 columns">
		
		<div class="panel this-to-center">
			<div class="row">
				<%= gravatar_for current_user, :size => 100 %>	
			</div>
			<br />
			<h3><%= link_to current_user.name, current_user %></h3>
			<%= pluralize(current_user.microposts.count, "Tweety") %>
			<%= render 'shared/stats' %>
		</div>
		
	</div>


	

<% end %>